body{
    margin: 0;
    background-color: #434343;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.mainContainer .direccionContainer{
    display: flex;
    padding-inline-start: 50px;
}

@font-face {
    font-family: KaiseiOpti-Regular;
    src: url(fonts/KaiseiOpti-Regular.ttf);
}
.mainContainer .direccionContainer .textoDireccion{
    font-family: KaiseiOpti-Regular;
    text-decoration: underline;
    color: white;
    font-size: 32px;
    font-weight: 100;
}

.mainContainer .localContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer .localContainer .mapaContainer{
    display: flex;
    padding-inline-end: 30px;
    width: fit-content;
}
.mainContainer .localContainer .horariosContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer .localContainer .horariosContainer .tituloHorarios{
    list-style: none;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-weight: 100;
    font-size: 32px;
    margin: 0px;
}

.mainContainer .localContainer .horariosContainer .textoHorarios{
    list-style: none;
    color: white;
    text-align: center;
    padding: 4px;
    font-size: 30px;
}
.mainContainer .containerEslogan{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}
@font-face{
    src: url(fonts//ChelseaMarket-Regular.ttf);
    font-family: ChelseaMarket;
}

.mainContainer .containerEslogan .eslogan {
    font-family: ChelseaMarket;
    font-size: 300% ;
    font-weight: normal;
    color:rgb(255, 255, 255);    
}

@media (max-width:700px){
    .mainContainer .direccionContainer {
        padding-inline-start:0px;
        justify-content: center;    
    }

    .mainContainer .direccionContainer .textoDireccion {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .mainContainer .localContainer{
        flex-direction: column;
        align-items: none;
    }

    .mainContainer .localContainer .mapaContainer{
        justify-content: center;
        padding-inline-end: 0px;
    }

    .mainContainer .localContainer .mapaContainer>iframe{
        width: 300px;
        height: 300px;
    }

    .mainContainer .localContainer .horariosContainer .tituloHorarios {
        font-size: 2rem;
        margin-top: 20px;
    }
    .mainContainer .localContainer .horariosContainer .textoHorarios {
        font-size: 1.3rem;
    }

    .mainContainer .containerEslogan .eslogan {
        font-size: 200%;
    }
}

@media (max-width:1000px){
    .mainContainer .localContainer {
        flex-direction: column;
    }

    .mainContainer .localContainer .horariosContainer {
        margin-block-start: 30px;
    }
}

