body{
    margin: 0;
    background-color: #434343;
    height: 100%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    height: fit-content;
}

.mainContainer .containerEslogan{
    display: flex;
    justify-content: center;
    padding: 50px 0px;

}
@font-face{
    src: url(fonts//ChelseaMarket-Regular.ttf);
    font-family: ChelseaMarket;
}

.mainContainer .containerEslogan .eslogan {
    font-family: ChelseaMarket;
    font-size: 200% ;
    text-align: center;
    font-weight: normal;
    color:rgb(255, 255, 255);    
}

.mainContainer .formularioContainer{
    display: flex;
    flex-direction: column;
}

.mainContainer .formularioContainer .datosContainer{
    display: flex;
    justify-content: space-around;
    margin-inline:15%;;    
}

@font-face{
    src: url(fonts/Kanit-Regular.ttf);
    font-family: Kanit-Regular;
}
.mainContainer .formularioContainer .datosContainer>input{
    font-family: Kanit-Regular;
    border-radius: 10px;
    padding-inline-start: 10px;
    color: #000000;
    background-color: #C4C4C4;
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

.mainContainer .formularioContainer .mensajeContainer{
    display: flex;
    justify-content: center;
    height: 50%;
    padding: 40px 0px;
}

.mainContainer .formularioContainer .mensajeContainer >textarea{
    font-family: Kanit-Regular;
    padding-inline-start: 10px;
    border-radius: 10px;
    color: #000000;
    background-color: #C4C4C4;
    font-size: 20px;
    width: 60%;
    height: 20rem;
}

.mainContainer .formularioContainer .botonContainer{
    display: flex;
    justify-content: center;
}

.mainContainer .formularioContainer .botonContainer>input{
    font-family: Kanit-Regular;
    border-radius: 5px;
    color: #000000;
    background-color: #C4C4C4;
    width: 150px;
    height: 50px;
    font-size: 20px;
    transition:all 250ms;
    box-shadow: none;
}

.mainContainer .formularioContainer .botonContainer>input:hover{
    box-shadow: 0 0 2em rgb(89 88 88 / 44%);
    background-color: rgb(131 126 126);
    cursor: pointer;
}

@media (max-width:700px){


}