body{
    margin: 0;
    background-color: #434343;
}

.mainContainer{
    display: block;
    height:fit-content;
    padding-bottom: 50px;
}

@font-face {
    font-family: KaiseiOpti-Medium;
    src: url(fonts/KaiseiOpti-Medium.ttf);
}
.tituloMenu{
    font-family: KaiseiOpti-Medium;
    display: flex;
    justify-content: center;
    font-weight: 30;
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-block-end: 0;
}

hr {
    background-color:#FFB205 ;
    border: none;
    height: 2px;
}

.gridMain { 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 50px;
    padding: 30px;
}

.gridMain .celdaPizza {
    display: flex;  
}

.gridMain .celdaPizza .fotoPizza{
    width: 60%;    
}

.gridMain .celdaPizza .fotoPizza>img{
    width: 100%;
    border-radius: 10px;
}


.gridMain .celdaPizza .infoPizza{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

@font-face {
    font-family: Jost-SemiBold;
    src: url(fonts/Jost-SemiBold.ttf);
}

.gridMain .celdaPizza .infoPizza .nombrePizza{
    display: flex;
    font-size:xx-large;
    font-family: Jost-SemiBold;
    color:rgba(255, 255, 255, 0.877) ;
    margin: 0%;
    text-decoration: underline

}
@font-face {
    font-family: Jost-Regular;
    src: url(fonts/Jost-Regular.ttf);
}

.gridMain .celdaPizza .infoPizza .descripcionPizza{
    display: flex;
    font-size:xx-large;
    margin: 0;
    font-family: Jost-Regular;
    color: rgba(255, 255, 255, 0.829);
    max-width: 40%;

}
.postresContainer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.celdaPostre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.postresContainer .celdaPostre .fotoPostre{
    width: 50%;
}

.postresContainer .celdaPostre .fotoPostre>img{
    width: 100%;
    border-radius: 5px;
}

.postresContainer .celdaPostre .nombrePostre{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    margin: 0;
    font-family:KaiseiOpti-Medium;
    font-weight: 1;
    color: rgba(255, 255, 255, 0.829);
}