@font-face{
    src: url(fonts//ChelseaMarket-Regular.ttf);
    font-family: ChelseaMarket;
}
body{
    margin: 0;
    background-color: #434343;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 50px;
}
.containerEslogan{
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.eslogan {
    font-family: ChelseaMarket;
    font-size: 200% ;
    font-weight: normal;
    color:rgb(255, 255, 255);    
}

.promoContainer{
    display: flex;
    justify-content: center;
    margin: 60px;
    align-items: center;
}
.promoContainer> img{
    height: 350px;
    width: 60%;
    border-radius: 10px;
}
.containerCarrusel{
    height: 480px;
    display: flex;
    justify-content: center;
}

.containerCarrusel>img {
    height: 90%;
    width: 90%;
    border-radius: 10px;
}