@font-face{
    src: url(fonts//ChelseaMarket-Regular.ttf);
    font-family: ChelseaMarket;
}
body{
    margin: 0;
    background-color: #434343;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 50px;
}

.mainContainer .promoContainer{
    display: flex;
    justify-content: center;
    margin: 60px;
    align-items: center;
}
.mainContainer .promoContainer> img{
    width: 60%;
    border-radius: 10px;
}

.mainContainer .containerEslogan{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.mainContainer .containerEslogan .eslogan {
    font-family: ChelseaMarket;
    font-size: 200% ;
    font-weight: normal;
    text-align: center;
    color:rgb(255, 255, 255);    
}

.mainContainer .containerCarrusel{
    height: 480px;
    display: flex;
    justify-content: center;
}


.mainContainer .containerCarrusel .imagenCarrusel{
    display: flex;
    background-size:cover;
    width: 100%;
    margin-inline: 20px;
    border-radius: 10px;
}
 
@media (max-width:480px){
    .mainContainer .promoContainer{
        margin: 20px;
    }

    .mainContainer .promoContainer> img {
        height:auto;
        width: 100%;
    }

    .mainContainer .containerEslogan{
        padding-bottom: 10px;
    }
    .mainContainer .containerEslogan .eslogan{
        font-size: 1.6rem;
        text-align: center;
        width: 70%;
    }

    .mainContainer .containerCarrusel{
        height: 50rem;
        margin-inline: 35px;
        flex-direction: column;
        align-items: center;
    }
    .mainContainer .containerCarrusel .imagenCarrusel{
        display: flex;
        background-size: cover;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        margin-block: 8px;
    }

}

@media (max-width:850px){

    .mainContainer .promoContainer{
        margin: 20px;
    }
    .mainContainer .promoContainer> img {
        height:auto;
        width: 100%;

    }
}