
header {
    background: url(img/cabecera.jpg);
    background-size:cover;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
}

@font-face {
    font-family: Kanit-Medium;
    src: url(fonts/Kanit-Medium.ttf);
}

nav#Header a {
    font-family: Kanit-Medium;
    font-weight: 100;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 30px;
    list-style: none;
}

nav#Header a:hover {
    color: #FFD706;
    list-style: none;
}

.container {
    display: flex;
}

.headerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.headerContainer>div {
    width: 100%;
}

.contentLeft {
    display: flex;
    align-items: center;
}

.contentLeft>img {
    width: 150px;
    padding: 10px;
}

.contentRight {
    padding-right: 100px;
    justify-content: flex-end;
}

@font-face{
    src: url(fonts/Kanit-Regular.ttf);
    font-family: Kanit-Regular;
}
.textoInicio {
    background-color: rgba(63, 61, 61, 1);
    padding: 6px 25px;
    border-radius: 10px;
    font-family: Kanit-Regular;
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-decoration: none;
    transition:all 250ms;
    box-shadow: none;
}

.textoInicio:hover{
    box-shadow:  0 0 2em rgba(110, 110, 109, 0.568);
    background: rgba(0, 0, 0, 0.836);
}

/* CSS para Form PopUp*/
.mainFormPopup{
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 0, 0);

}

/* form popup, comienza ocultado */
.form-popup {
  display: none;
  position: fixed;
  right: 15px;
  border: 1px solid #aaaaaa;
  z-index: 9;
}

/*Container dentro, contiene el form*/
.formContainer {
  max-width: 300px;
  padding: 10px;
  background: rgb(4 14 3);  
}

.formContainer>h1 {
    display: flex;
    justify-content: center;
    color: #dfdfdf;
    font-family: Kanit-Regular;
}

.formContainer>label {
    color:#dfdfdf;
    font-family: system-ui;
}

.formContainer input[type=text], .formContainer input[type=password] {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Estilo para botenes de form */
.formContainer .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.formContainer .btn:hover {
    opacity: 1;
  }

/* Modifica el color del boton de cancelar*/
.formContainer .cancel {
  background-color: red;
}

